APP_NAME=Clutchify
APP_ENV=local
APP_DEBUG=true
APP_URL=http://clutchify.test
APP_HOST=clutchify.test
APP_SECRET_KEY=YOUR_SECRET_KEY

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=v2_clutchify
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

WEBSOCKET_PORT=8080
WEBSOCKET_HOST=0.0.0.0

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=http://clutchify.test/services/connect_discord.php

STEAM_API_KEY=
STEAM_RETURN_URL=http://clutchify.test/services/connect_steam.php

WS_AUTH_SECRET=change_this_secret

PRACTICE_ENABLED=1

PRACTICE_SERVER_NAME="Clutchify Practice"
PRACTICE_SERVER_HOST=127.0.0.1
PRACTICE_SERVER_PORT=27015
PRACTICE_SERVER_PUBLIC=your-domain.com:27015
PRACTICE_SERVER_PASSWORD=

PRACTICE_RCON_HOST=127.0.0.1
PRACTICE_RCON_PORT=27015
PRACTICE_RCON_TIMEOUT=5

PRACTICE_SESSION_MINUTES=60