<h1>Panel <span class="red-text">Główny</span></h1>
<div class="dashboard-container">
    <div style="width: 300px; margin: 0 auto;">
        <div class="player-preview-card">
            <img src="https://ui-avatars.com/api/?name=Player&background=121212&color=ff002b" alt="Avatar" class="player-avatar" id="dashboard-avatar">
            <h2 id="dashboard-username">Nazwa_Gracza</h2>
            <p style="color: var(--text-gray); font-size: 13px; margin-top: 5px;" id="dashboard-team">Steam ID: Brak połączenia</p>
        </div>
    </div>
</div>